{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/taskforce.voxua.ru",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "Contributing.md",
          "mtimeMs": 1626718647080.8623,
          "date": "2021-07-22T12:31:20.369Z"
        },
        {
          "file": "Readme.md",
          "mtimeMs": 1626955981786.4646,
          "date": "2021-07-22T12:31:20.487Z"
        },
        {
          "file": "account.html",
          "mtimeMs": 1626718647080.8623,
          "date": "2021-07-22T12:31:20.586Z"
        },
        {
          "file": "browse.html",
          "mtimeMs": 1626718647081.8616,
          "date": "2021-07-22T12:31:20.713Z"
        },
        {
          "file": "create.html",
          "mtimeMs": 1626718647081.8616,
          "date": "2021-07-22T12:31:20.784Z"
        },
        {
          "file": "landing.html",
          "mtimeMs": 1626718647130.8977,
          "date": "2021-07-22T12:31:20.868Z"
        },
        {
          "file": "mylist.html",
          "mtimeMs": 1626718647130.8977,
          "date": "2021-07-22T12:31:20.951Z"
        },
        {
          "file": "signup.html",
          "mtimeMs": 1626718647131.8972,
          "date": "2021-07-22T12:31:21.030Z"
        },
        {
          "file": "user.html",
          "mtimeMs": 1626718647131.8972,
          "date": "2021-07-22T12:31:21.135Z"
        },
        {
          "file": "users.html",
          "mtimeMs": 1626718647131.8972,
          "date": "2021-07-22T12:31:21.203Z"
        },
        {
          "file": "view.html",
          "mtimeMs": 1626718647132.896,
          "date": "2021-07-22T12:31:21.603Z"
        },
        {
          "file": "css/normalize.css",
          "mtimeMs": 1626718647082.8608,
          "date": "2021-07-22T12:31:21.958Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1626718647082.8608,
          "date": "2021-07-22T12:31:22.052Z"
        },
        {
          "file": "data/categories.csv",
          "mtimeMs": 1626718647083.86,
          "date": "2021-07-22T12:31:22.137Z"
        },
        {
          "file": "data/cities.csv",
          "mtimeMs": 1626718647084.8596,
          "date": "2021-07-22T12:31:22.235Z"
        },
        {
          "file": "data/opinions.csv",
          "mtimeMs": 1626718647084.8596,
          "date": "2021-07-22T12:31:22.331Z"
        },
        {
          "file": "data/profiles.csv",
          "mtimeMs": 1626718647084.8596,
          "date": "2021-07-22T12:31:22.439Z"
        },
        {
          "file": "data/replies.csv",
          "mtimeMs": 1626718647085.8584,
          "date": "2021-07-22T12:31:22.519Z"
        },
        {
          "file": "data/tasks.csv",
          "mtimeMs": 1626718647086.8596,
          "date": "2021-07-22T12:31:22.598Z"
        },
        {
          "file": "data/users.csv",
          "mtimeMs": 1626718647086.8596,
          "date": "2021-07-22T12:31:22.697Z"
        },
        {
          "file": "fonts/MyriadPro-Light.woff",
          "mtimeMs": 1626718647087.8584,
          "date": "2021-07-22T12:31:22.780Z"
        },
        {
          "file": "fonts/MyriadPro-Regular.ttf",
          "mtimeMs": 1626718647088.857,
          "date": "2021-07-22T12:31:22.913Z"
        },
        {
          "file": "fonts/MyriadPro-Semibold.woff",
          "mtimeMs": 1626718647089.8562,
          "date": "2021-07-22T12:31:23.293Z"
        },
        {
          "file": "fonts/PTSans-Bold.ttf",
          "mtimeMs": 1626718647091.8545,
          "date": "2021-07-22T12:31:23.429Z"
        },
        {
          "file": "fonts/PTSans-Italic.ttf",
          "mtimeMs": 1626718647093.853,
          "date": "2021-07-22T12:31:23.566Z"
        },
        {
          "file": "fonts/PTSans-Regular.ttf",
          "mtimeMs": 1626718647095.8518,
          "date": "2021-07-22T12:31:23.669Z"
        },
        {
          "file": "fonts/Roboto-Bold.ttf",
          "mtimeMs": 1626718647096.851,
          "date": "2021-07-22T12:31:24.060Z"
        },
        {
          "file": "fonts/Roboto-Light.ttf",
          "mtimeMs": 1626718647098.8496,
          "date": "2021-07-22T12:31:24.166Z"
        },
        {
          "file": "fonts/Roboto-Medium.ttf",
          "mtimeMs": 1626718647099.849,
          "date": "2021-07-22T12:31:24.266Z"
        },
        {
          "file": "fonts/Roboto-Regular.ttf",
          "mtimeMs": 1626718647101.8474,
          "date": "2021-07-22T12:31:24.365Z"
        },
        {
          "file": "img/Oval.png",
          "mtimeMs": 1626718647101.8474,
          "date": "2021-07-22T12:31:24.446Z"
        },
        {
          "file": "img/Polygon.png",
          "mtimeMs": 1626718647102.847,
          "date": "2021-07-22T12:31:24.532Z"
        },
        {
          "file": "img/Star-rate.png",
          "mtimeMs": 1626718647102.847,
          "date": "2021-07-22T12:31:24.615Z"
        },
        {
          "file": "img/Star.png",
          "mtimeMs": 1626718647102.847,
          "date": "2021-07-22T12:31:24.701Z"
        },
        {
          "file": "img/academy-logo.png",
          "mtimeMs": 1626718647102.847,
          "date": "2021-07-22T12:31:24.770Z"
        },
        {
          "file": "img/arrow.png",
          "mtimeMs": 1626718647103.8462,
          "date": "2021-07-22T12:31:24.845Z"
        },
        {
          "file": "img/attach.png",
          "mtimeMs": 1626718647103.8462,
          "date": "2021-07-22T12:31:24.918Z"
        },
        {
          "file": "img/balloons.png",
          "mtimeMs": 1626718647103.8462,
          "date": "2021-07-22T12:31:25.016Z"
        },
        {
          "file": "img/big-star-disabled.png",
          "mtimeMs": 1626718647103.8462,
          "date": "2021-07-22T12:31:25.099Z"
        },
        {
          "file": "img/big-star.png",
          "mtimeMs": 1626718647104.8455,
          "date": "2021-07-22T12:31:25.480Z"
        },
        {
          "file": "img/bookmark-grey.png",
          "mtimeMs": 1626718647104.8455,
          "date": "2021-07-22T12:31:25.562Z"
        },
        {
          "file": "img/bookmark-white.png",
          "mtimeMs": 1626718647104.8455,
          "date": "2021-07-22T12:31:25.635Z"
        },
        {
          "file": "img/calendar.png",
          "mtimeMs": 1626718647105.947,
          "date": "2021-07-22T12:31:25.714Z"
        },
        {
          "file": "img/camera.png",
          "mtimeMs": 1626718647105.947,
          "date": "2021-07-22T12:31:25.798Z"
        },
        {
          "file": "img/car.svg",
          "mtimeMs": 1626718647105.947,
          "date": "2021-07-22T12:31:25.867Z"
        },
        {
          "file": "img/cargo.png",
          "mtimeMs": 1626718647105.947,
          "date": "2021-07-22T12:31:25.950Z"
        },
        {
          "file": "img/chat-pop-up.png",
          "mtimeMs": 1626718647106.9536,
          "date": "2021-07-22T12:31:26.020Z"
        },
        {
          "file": "img/chat.png",
          "mtimeMs": 1626718647106.9536,
          "date": "2021-07-22T12:31:26.082Z"
        },
        {
          "file": "img/checkbox-off-disabled.png",
          "mtimeMs": 1626718647106.9536,
          "date": "2021-07-22T12:31:26.151Z"
        },
        {
          "file": "img/checkbox-off.png",
          "mtimeMs": 1626718647106.9536,
          "date": "2021-07-22T12:31:26.219Z"
        },
        {
          "file": "img/checkbox-on-disabled.png",
          "mtimeMs": 1626718647107.9514,
          "date": "2021-07-22T12:31:26.297Z"
        },
        {
          "file": "img/checkbox-on.png",
          "mtimeMs": 1626718647107.9514,
          "date": "2021-07-22T12:31:26.661Z"
        },
        {
          "file": "img/checkmark-black.png",
          "mtimeMs": 1626718647107.9514,
          "date": "2021-07-22T12:31:26.734Z"
        },
        {
          "file": "img/checkmark-black.svg",
          "mtimeMs": 1626718647108.952,
          "date": "2021-07-22T12:31:26.813Z"
        },
        {
          "file": "img/checkmark.png",
          "mtimeMs": 1626718647108.952,
          "date": "2021-07-22T12:31:26.883Z"
        },
        {
          "file": "img/choice-line.png",
          "mtimeMs": 1626718647108.952,
          "date": "2021-07-22T12:31:26.961Z"
        },
        {
          "file": "img/circle-choice.png",
          "mtimeMs": 1626718647109.9514,
          "date": "2021-07-22T12:31:27.029Z"
        },
        {
          "file": "img/circle-discussion.png",
          "mtimeMs": 1626718647109.9514,
          "date": "2021-07-22T12:31:27.112Z"
        },
        {
          "file": "img/circle-line.png",
          "mtimeMs": 1626718647109.9514,
          "date": "2021-07-22T12:31:27.180Z"
        },
        {
          "file": "img/circle-payment.png",
          "mtimeMs": 1626718647110.9485,
          "date": "2021-07-22T12:31:27.251Z"
        },
        {
          "file": "img/circle-request.png",
          "mtimeMs": 1626718647110.9485,
          "date": "2021-07-22T12:31:27.328Z"
        },
        {
          "file": "img/clean.png",
          "mtimeMs": 1626718647110.9485,
          "date": "2021-07-22T12:31:27.396Z"
        },
        {
          "file": "img/cleaner-small.png",
          "mtimeMs": 1626718647111.9482,
          "date": "2021-07-22T12:31:27.500Z"
        },
        {
          "file": "img/clipart-woman.png",
          "mtimeMs": 1626718647111.9482,
          "date": "2021-07-22T12:31:27.580Z"
        },
        {
          "file": "img/clock.png",
          "mtimeMs": 1626718647112.9475,
          "date": "2021-07-22T12:31:27.648Z"
        },
        {
          "file": "img/close-mark.png",
          "mtimeMs": 1626718647112.9475,
          "date": "2021-07-22T12:31:27.714Z"
        },
        {
          "file": "img/close-pop-up.png",
          "mtimeMs": 1626718647113.3877,
          "date": "2021-07-22T12:31:27.797Z"
        },
        {
          "file": "img/computer.png",
          "mtimeMs": 1626718647113.3877,
          "date": "2021-07-22T12:31:27.863Z"
        },
        {
          "file": "img/cross-big.png",
          "mtimeMs": 1626718647113.3877,
          "date": "2021-07-22T12:31:27.930Z"
        },
        {
          "file": "img/customer-small.png",
          "mtimeMs": 1626718647113.3877,
          "date": "2021-07-22T12:31:28.302Z"
        },
        {
          "file": "img/discussion-line.png",
          "mtimeMs": 1626718647114.3928,
          "date": "2021-07-22T12:31:28.369Z"
        },
        {
          "file": "img/dotonbori-photo.png",
          "mtimeMs": 1626718647114.3928,
          "date": "2021-07-22T12:31:28.434Z"
        },
        {
          "file": "img/email.png",
          "mtimeMs": 1626718647114.3928,
          "date": "2021-07-22T12:31:28.499Z"
        },
        {
          "file": "img/executor-pop-up.png",
          "mtimeMs": 1626718647114.3928,
          "date": "2021-07-22T12:31:28.569Z"
        },
        {
          "file": "img/hairdryer.png",
          "mtimeMs": 1626718647115.389,
          "date": "2021-07-22T12:31:28.636Z"
        },
        {
          "file": "img/home-icon.png",
          "mtimeMs": 1626718647115.389,
          "date": "2021-07-22T12:31:28.697Z"
        },
        {
          "file": "img/info-icon.png",
          "mtimeMs": 1626718647115.389,
          "date": "2021-07-22T12:31:28.768Z"
        },
        {
          "file": "img/landing-logo.png",
          "mtimeMs": 1626718647116.3882,
          "date": "2021-07-22T12:31:28.847Z"
        },
        {
          "file": "img/letter.svg",
          "mtimeMs": 1626718647116.3882,
          "date": "2021-07-22T12:31:28.918Z"
        },
        {
          "file": "img/lightbulb-white.png",
          "mtimeMs": 1626718647116.3882,
          "date": "2021-07-22T12:31:28.994Z"
        },
        {
          "file": "img/lightbulb.png",
          "mtimeMs": 1626718647117.3916,
          "date": "2021-07-22T12:31:29.063Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1626718647117.3916,
          "date": "2021-07-22T12:31:29.147Z"
        },
        {
          "file": "img/man-blond.jpg",
          "mtimeMs": 1626718647117.3916,
          "date": "2021-07-22T12:31:29.219Z"
        },
        {
          "file": "img/man-brune.jpg",
          "mtimeMs": 1626718647118.387,
          "date": "2021-07-22T12:31:29.286Z"
        },
        {
          "file": "img/man-glasses.jpg",
          "mtimeMs": 1626718647118.387,
          "date": "2021-07-22T12:31:29.360Z"
        },
        {
          "file": "img/man-hat.png",
          "mtimeMs": 1626718647119.386,
          "date": "2021-07-22T12:31:29.429Z"
        },
        {
          "file": "img/man-running.png",
          "mtimeMs": 1626718647119.386,
          "date": "2021-07-22T12:31:29.498Z"
        },
        {
          "file": "img/map.jpg",
          "mtimeMs": 1626718647120.3853,
          "date": "2021-07-22T12:31:29.585Z"
        },
        {
          "file": "img/message-circle.png",
          "mtimeMs": 1626718647120.3853,
          "date": "2021-07-22T12:31:29.678Z"
        },
        {
          "file": "img/navigation.png",
          "mtimeMs": 1626718647120.3853,
          "date": "2021-07-22T12:31:29.764Z"
        },
        {
          "file": "img/phone.png",
          "mtimeMs": 1626718647120.3853,
          "date": "2021-07-22T12:31:29.829Z"
        },
        {
          "file": "img/refusal.svg",
          "mtimeMs": 1626718647121.3845,
          "date": "2021-07-22T12:31:29.893Z"
        },
        {
          "file": "img/repair.png",
          "mtimeMs": 1626718647121.3845,
          "date": "2021-07-22T12:31:29.960Z"
        },
        {
          "file": "img/roller.png",
          "mtimeMs": 1626718647121.3845,
          "date": "2021-07-22T12:31:30.027Z"
        },
        {
          "file": "img/rome-photo.jpg",
          "mtimeMs": 1626718647122.384,
          "date": "2021-07-22T12:31:30.396Z"
        },
        {
          "file": "img/ruble-sign.png",
          "mtimeMs": 1626718647122.384,
          "date": "2021-07-22T12:31:30.463Z"
        },
        {
          "file": "img/select-arrow.png",
          "mtimeMs": 1626718647123.1926,
          "date": "2021-07-22T12:31:30.530Z"
        },
        {
          "file": "img/skype-logo.png",
          "mtimeMs": 1626718647123.1926,
          "date": "2021-07-22T12:31:30.599Z"
        },
        {
          "file": "img/smartphone-photo.png",
          "mtimeMs": 1626718647123.1926,
          "date": "2021-07-22T12:31:30.661Z"
        },
        {
          "file": "img/star-disabled.png",
          "mtimeMs": 1626718647123.98,
          "date": "2021-07-22T12:31:30.732Z"
        },
        {
          "file": "img/star-red.png",
          "mtimeMs": 1626718647123.98,
          "date": "2021-07-22T12:31:30.800Z"
        },
        {
          "file": "img/sun.png",
          "mtimeMs": 1626718647123.98,
          "date": "2021-07-22T12:31:30.865Z"
        },
        {
          "file": "img/sun.svg",
          "mtimeMs": 1626718647123.98,
          "date": "2021-07-22T12:31:30.932Z"
        },
        {
          "file": "img/taskforce_logo.svg",
          "mtimeMs": 1626718647124.9624,
          "date": "2021-07-22T12:31:30.996Z"
        },
        {
          "file": "img/three-rate.png",
          "mtimeMs": 1626718647124.9624,
          "date": "2021-07-22T12:31:31.063Z"
        },
        {
          "file": "img/translate.png",
          "mtimeMs": 1626718647124.9624,
          "date": "2021-07-22T12:31:31.133Z"
        },
        {
          "file": "img/triangle-icon.png",
          "mtimeMs": 1626718647125.965,
          "date": "2021-07-22T12:31:31.193Z"
        },
        {
          "file": "img/upload.png",
          "mtimeMs": 1626718647125.965,
          "date": "2021-07-22T12:31:31.547Z"
        },
        {
          "file": "img/user-man.jpg",
          "mtimeMs": 1626718647125.965,
          "date": "2021-07-22T12:31:31.625Z"
        },
        {
          "file": "img/user-man2.jpg",
          "mtimeMs": 1626718647125.965,
          "date": "2021-07-22T12:31:31.683Z"
        },
        {
          "file": "img/user-photo.png",
          "mtimeMs": 1626718647126.9644,
          "date": "2021-07-22T12:31:31.745Z"
        },
        {
          "file": "img/woman-glasses.jpg",
          "mtimeMs": 1626718647127.484,
          "date": "2021-07-22T12:31:31.811Z"
        },
        {
          "file": "img/woman-wrench.png",
          "mtimeMs": 1626718647127.484,
          "date": "2021-07-22T12:31:32.208Z"
        },
        {
          "file": "js/dropzone.js",
          "mtimeMs": 1626718647128.4854,
          "date": "2021-07-22T12:31:32.278Z"
        },
        {
          "file": "js/main.js",
          "mtimeMs": 1626718647129.8962,
          "date": "2021-07-22T12:31:32.342Z"
        },
        {
          "file": "js/messenger.js",
          "mtimeMs": 1626718647130.8977,
          "date": "2021-07-22T12:31:32.408Z"
        },
        {
          "file": "test.php",
          "mtimeMs": 1639471829967.629,
          "date": "2021-12-14T08:50:30.722Z"
        },
        {
          "file": "composer.json",
          "mtimeMs": 1631024277624.9424,
          "date": "2021-09-07T14:18:47.334Z"
        },
        {
          "file": "vendor/composer/autoload_real.php",
          "mtimeMs": 1627923475082.3826,
          "date": "2021-08-02T16:57:55.626Z"
        },
        {
          "file": "vendor/autoload.php",
          "mtimeMs": 1627312617000,
          "date": "2021-08-02T11:33:01.932Z"
        },
        {
          "file": "vendor/composer/ClassLoader.php",
          "mtimeMs": 1627923336613.263,
          "date": "2021-08-02T16:55:37.164Z"
        },
        {
          "file": "vendor/composer/LICENSE",
          "mtimeMs": 1627312617000,
          "date": "2021-08-02T11:33:02.003Z"
        },
        {
          "file": "vendor/composer/autoload_classmap.php",
          "mtimeMs": 1627903984000,
          "date": "2021-08-02T16:33:54.715Z"
        },
        {
          "file": "vendor/composer/autoload_namespaces.php",
          "mtimeMs": 1627903984000,
          "date": "2021-08-02T16:33:54.543Z"
        },
        {
          "file": "vendor/composer/autoload_psr4.php",
          "mtimeMs": 1627922672735.4937,
          "date": "2021-08-02T16:44:33.280Z"
        },
        {
          "file": "vendor/composer/autoload_static.php",
          "mtimeMs": 1627921951000,
          "date": "2021-08-02T16:33:54.664Z"
        },
        {
          "file": "vendor/composer/InstalledVersions.php",
          "mtimeMs": 1627324059000,
          "date": "2021-09-07T14:18:47.508Z"
        },
        {
          "file": "vendor/composer/installed.json",
          "mtimeMs": 1627324059000,
          "date": "2021-09-07T14:18:47.551Z"
        },
        {
          "file": "vendor/composer/installed.php",
          "mtimeMs": 1627921951000,
          "date": "2021-09-07T14:18:47.591Z"
        },
        {
          "file": "classes/ShowActions.php",
          "mtimeMs": 1636459742627.37,
          "date": "2021-11-09T12:09:03.206Z"
        },
        {
          "file": "classes/Events.php",
          "mtimeMs": 1631087553291.389,
          "date": "2021-11-09T12:05:17.782Z"
        },
        {
          "file": "classes/Imager.php",
          "mtimeMs": 1631087553291.389,
          "date": "2021-11-09T12:05:17.823Z"
        },
        {
          "file": "classes/LOC.php",
          "mtimeMs": 1631087553292.3887,
          "date": "2021-11-09T12:05:17.865Z"
        },
        {
          "file": "classes/MSG.php",
          "mtimeMs": 1631087553292.3887,
          "date": "2021-11-09T12:05:17.904Z"
        },
        {
          "file": "classes/tests/TestAutoload.php",
          "mtimeMs": 1631086398204.3865,
          "date": "2021-09-08T07:33:18.795Z"
        },
        {
          "file": "concept.txt",
          "mtimeMs": 1631027629010.6768,
          "date": "2021-11-09T12:05:17.651Z"
        },
        {
          "file": "taskforce.sql",
          "mtimeMs": 1631089450017.544,
          "date": "2021-11-09T12:05:17.695Z"
        },
        {
          "file": "classes/Responces.php",
          "mtimeMs": 1631087553292.3887,
          "date": "2021-11-09T12:05:17.938Z"
        },
        {
          "file": "classes/Task.php",
          "mtimeMs": 1631087553294.387,
          "date": "2021-11-09T12:05:18.155Z"
        },
        {
          "file": "classes/User.php",
          "mtimeMs": 1631087553298.3845,
          "date": "2021-11-09T12:05:18.593Z"
        },
        {
          "file": "classes/Actions.php",
          "mtimeMs": 1639414661519.5085,
          "date": "2021-12-13T16:57:42.352Z"
        },
        {
          "file": "classes/ActionsControl.php",
          "mtimeMs": 1638437219536.8445,
          "date": "2021-12-02T09:27:00.117Z"
        },
        {
          "file": "myexc/MyExc.php",
          "mtimeMs": 1639042990926.9282,
          "date": "2021-12-09T09:43:11.511Z"
        },
        {
          "file": "classes/MyExc.php",
          "mtimeMs": 1639042591594.0137,
          "date": "2021-12-09T09:36:32.192Z"
        },
        {
          "file": "classes/Exc/MyExc.php",
          "mtimeMs": 1639047638912.3784,
          "date": "2021-12-09T11:00:39.509Z"
        },
        {
          "file": "classes/Exceptions/MyExceptions.php",
          "mtimeMs": 1639058147613.1191,
          "date": "2021-12-09T13:55:48.213Z"
        },
        {
          "file": "classes/Exceptions/MyException.php",
          "mtimeMs": 1639059225158.3325,
          "date": "2021-12-09T14:13:45.754Z"
        },
        {
          "file": "classes/testfolder/MyException.php",
          "mtimeMs": 1639058911346.4956,
          "date": "2021-12-09T14:08:32.243Z"
        },
        {
          "file": "classes/CSVloader.php",
          "mtimeMs": 1639471922254.589,
          "date": "2021-12-14T08:52:02.859Z"
        },
        {
          "file": "classes/ContactsImporterSpl.php",
          "mtimeMs": 1639476817645.5288,
          "date": "2021-12-14T10:13:38.231Z"
        },
        {
          "file": "csvimport.php",
          "mtimeMs": 1639476685812.2976,
          "date": "2021-12-14T10:11:26.397Z"
        },
        {
          "file": "classes/Exceptions/SourceFileException.php",
          "mtimeMs": 1639474820850.5574,
          "date": "2021-12-14T09:40:21.447Z"
        },
        {
          "file": "classes/Exceptions/FileFormatException.php",
          "mtimeMs": 1639474937256.8755,
          "date": "2021-12-14T09:42:17.868Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "kit",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
